@model  PartialViewExample.SomeSharedLibrary.BootstrapDropdown

<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        @Model.HeaderText<span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        @foreach(var m in Model.Items)
        {
            <li>
                <a href="@m.url">@m.text</a>
            </li>
        }
    </ul>
</div>
